<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Messages</servlet-name>
    <servlet-class>ServletController.Messages</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>ServletController.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ServletController.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendServlet</servlet-name>
    <servlet-class>ServletController.SendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetServlet</servlet-name>
    <servlet-class>ServletController.GetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LeaveServlet</servlet-name>
    <servlet-class>ServletController.LeaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>ServletController.ControlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LetInServlet</servlet-name>
    <servlet-class>ServletController.LetInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowRoomServlet</servlet-name>
    <servlet-class>ServletController.ShowRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchRequestServlet</servlet-name>
    <servlet-class>ServletController.SearchRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OnlineServlet</servlet-name>
    <servlet-class>ServletController.OnlineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateRequestServlet</servlet-name>
    <servlet-class>ServletController.CreateRequestServlet</servlet-class>
  </servlet>

  
  

  <servlet-mapping>
    <servlet-name>OnlineServlet</servlet-name>
    <url-pattern>/servlet/OnlineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchRequestServlet</servlet-name>
    <url-pattern>/servlet/SearchRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRoomServlet</servlet-name>
    <url-pattern>/servlet/ShowRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Messages</servlet-name>
    <url-pattern>/Messages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendServlet</servlet-name>
    <url-pattern>/servlet/SendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetServlet</servlet-name>
    <url-pattern>/servlet/GetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeaveServlet</servlet-name>
    <url-pattern>/servlet/LeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LetInServlet</servlet-name>
    <url-pattern>/servlet/LetInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateRequestServlet</servlet-name>
    <url-pattern>/servlet/CreateRequestServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>Util.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
  	<error-code>404</error-code>
  	<location>/error404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error500.jsp</location>
  </error-page>
</web-app>